<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="com.lmreader.reliability.FaultGrantActivity" android:exported="true" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <provider android:name="com.lmreader.reliability.FaultDocumentsProvider"
            android:authorities="com.lmreader.test.reliability.documents" android:exported="true"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:grantUriPermissions="true">
            <intent-filter><action android:name="android.content.action.DOCUMENTS_PROVIDER" /></intent-filter>
        </provider>
    </application>
</manifest>
